<h1>フォトスポット一覧です</h1>
<ul>
  <% @photo_spots.each do |photo_spot|%>
    <li>
      <%= photo_spot.name %>
    </li>

  <span style="margin-left:20px;"><%= photo_spot.address %><span>
  <span style="margin-left:20px;"><%= photo_spot.parking_flag %><span>
  <span style="margin-left:20px;"><%= photo_spot.detail %><span>
  <% end %>
</ul>